:root {
  --color-page-background: rgba(255, 255, 255, 1);
  --color-primary: rgba(0, 0, 0, 1);
  --color-sideBar-background: rgba(244, 244, 245, 1);
  --color-statusBar-background: #0f62fe;
  --color-toolBar-background: rgba(224, 224, 224, 1);
  --color-windowControlsLinux-activeBackground: rgba(191, 191, 191, 1);
  --color-windowControlsLinux-background: rgba(218, 218, 218, 1);
  --color-windowControlsLinux-hoverBackground: rgba(209, 209, 209, 1);
  --color-windowControlsLinux-text: rgba(61, 61, 61, 1);
  --color-windowsCloseButton-background: rgba(196, 43, 28, 1);
}
