.dockview-demo .group-control .action {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
}
.dockview-demo .group-control .action:hover {
  border-radius: 2px;
  background-color: var(--moss-dv-icon-hover-background-color);
}
.dockview-demo .data-table table {
  font-size: 11px;
}
.dockview-demo .data-table table th {
  padding: 0px 8px;
}
.dockview-demo button {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c254a;
  color: white;
  border: none;
  cursor: pointer;
  outline: 1px solid #4c65d4;
}
.dockview-demo button:focus {
  outline: 1px solid #4c65d4 !important;
}
.dockview-demo button:hover {
  background-color: #222e62;
}
.dockview-demo input {
  outline: 1px solid #4c65d4;
  border: none;
  margin: 0px;
  height: 25px;
}
.dockview-demo input:focus {
  outline: 1px solid #4c65d4 !important;
}
.dockview-demo .action-container {
  display: flex;
  padding: 4px;
  overflow: auto;
}
.dockview-demo .action-container .text-button {
  margin: 0px 4px;
}
.dockview-demo .action-container .button-action {
  margin: 0px 4px;
}
.dockview-demo .action-container .button-action .selected {
  background-color: #4864dc;
}
.dockview-demo .action-container .button-group button {
  margin-right: 0px;
}
.dockview-demo .action-container .demo-button {
  min-width: 50px;
  padding: 0px 2px;
  border-radius: 0px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  outline: 1px solid #4c65d4;
}
.dockview-demo .action-container .demo-icon-button {
  outline: 1px solid #4c65d4;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 0px;
  padding: 0px 4px;
  border: none;
  cursor: pointer;
}
.dockview-demo .action-container .demo-icon-button:disabled {
  color: gray;
  cursor: help;
}
.dockview-demo .action-container .demo-icon-button span {
  font-size: 16px;
}
