:root {
  --dv-background-color: black;
  --dv-paneview-active-outline-color: dodgerblue;
  --dv-tabs-and-actions-container-font-size: 13px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --dv-drag-over-border-color: white;
  --dv-tabs-container-scrollbar-color: #888;
  --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
  --dv-group-view-background-color: white;
  --dv-tabs-and-actions-container-background-color: #f3f3f3;
  --dv-activegroup-visiblepanel-tab-background-color: white;
  --dv-activegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-inactivegroup-visiblepanel-tab-background-color: white;
  --dv-inactivegroup-hiddenpanel-tab-background-color: #ececec;
  --dv-tab-divider-color: white;
  --dv-activegroup-visiblepanel-tab-color: rgb(51, 51, 51);
  --dv-activegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-visiblepanel-tab-color: rgba(51, 51, 51, 0.7);
  --dv-inactivegroup-hiddenpanel-tab-color: rgba(51, 51, 51, 0.35);
  --dv-separator-border: rgba(128, 128, 128, 0.35);
  --dv-paneview-header-border-color: rgb(51, 51, 51);
}

.dockview-theme-dark {
  --dv-background-color: black;
  --dv-paneview-active-outline-color: dodgerblue;
  --dv-tabs-and-actions-container-font-size: 13px;
  --dv-tabs-and-actions-container-height: 35px;
  --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
  --dv-drag-over-border-color: white;
  --dv-tabs-container-scrollbar-color: #888;
  --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
  --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
  --dv-group-view-background-color: #1e1e1e;
  --dv-tabs-and-actions-container-background-color: #252526;
  --dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
  --dv-activegroup-hiddenpanel-tab-background-color: #2d2d2d;
  --dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
  --dv-inactivegroup-hiddenpanel-tab-background-color: #2d2d2d;
  --dv-tab-divider-color: #1e1e1e;
  --dv-activegroup-visiblepanel-tab-color: white;
  --dv-activegroup-hiddenpanel-tab-color: #969696;
  --dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
  --dv-inactivegroup-hiddenpanel-tab-color: #626262;
  --dv-separator-border: rgb(68, 68, 68);
  --dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);
}

.drop-target {
  position: relative;
}
.drop-target > .drop-target-dropzone {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}
.drop-target > .drop-target-dropzone > .drop-target-selection {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--dv-drag-over-background-color);
  transition:
    top 70ms ease-out,
    left 70ms ease-out,
    width 70ms ease-out,
    height 70ms ease-out,
    opacity 0.15s ease-out;
  will-change: transform;
  pointer-events: none;
}
.drop-target > .drop-target-dropzone > .drop-target-selection.dv-drop-target-top.dv-drop-target-small-vertical {
  border-top: 1px solid var(--dv-drag-over-border-color);
}
.drop-target > .drop-target-dropzone > .drop-target-selection.dv-drop-target-bottom.dv-drop-target-small-vertical {
  border-bottom: 1px solid var(--dv-drag-over-border-color);
}
.drop-target > .drop-target-dropzone > .drop-target-selection.dv-drop-target-left.dv-drop-target-small-horizontal {
  border-left: 1px solid var(--dv-drag-over-border-color);
}
.drop-target > .drop-target-dropzone > .drop-target-selection.dv-drop-target-right.dv-drop-target-small-horizontal {
  border-right: 1px solid var(--dv-drag-over-border-color);
}
.dv-dockview {
  position: relative;
  background-color: var(--dv-group-view-background-color);
}
.dv-dockview .dv-watermark-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.dv-dockview .dv-overlay-render-container {
  position: relative;
}

.groupview.active-group > .tabs-and-actions-container > .tabs-container > .tab.active-tab {
  background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
  color: var(--dv-activegroup-visiblepanel-tab-color);
}
.groupview.active-group > .tabs-and-actions-container > .tabs-container > .tab.inactive-tab {
  background-color: var(--dv-activegroup-hiddenpanel-tab-background-color);
  color: var(--dv-activegroup-hiddenpanel-tab-color);
}
.groupview.inactive-group > .tabs-and-actions-container > .tabs-container > .tab.active-tab {
  background-color: var(--dv-inactivegroup-visiblepanel-tab-background-color);
  color: var(--dv-inactivegroup-visiblepanel-tab-color);
}
.groupview.inactive-group > .tabs-and-actions-container > .tabs-container > .tab.inactive-tab {
  background-color: var(--dv-inactivegroup-hiddenpanel-tab-background-color);
  color: var(--dv-inactivegroup-hiddenpanel-tab-color);
}

/**
   * when a tab is dragged we lose the above stylings because they are conditional on parent elements
   * therefore we also set some stylings for the dragging event
   **/
.tab.dv-tab-dragging {
  background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
  color: var(--dv-activegroup-visiblepanel-tab-color);
}
.groupview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--dv-group-view-background-color);
  overflow: hidden;
}
.groupview:focus {
  outline: none;
}
.groupview.empty > .tabs-and-actions-container {
  display: none;
}
.groupview > .content-container {
  flex-grow: 1;
  min-height: 0;
  outline: none;
}
.dv-root-wrapper {
  height: 100%;
  width: 100%;
}
.grid-view,
.branch-node {
  height: 100%;
  width: 100%;
}
.dv-debug .dv-resize-container .dv-resize-handle-top {
  background-color: red;
}
.dv-debug .dv-resize-container .dv-resize-handle-bottom {
  background-color: green;
}
.dv-debug .dv-resize-container .dv-resize-handle-left {
  background-color: yellow;
}
.dv-debug .dv-resize-container .dv-resize-handle-right {
  background-color: blue;
}
.dv-debug .dv-resize-container .dv-resize-handle-topleft,
.dv-debug .dv-resize-container .dv-resize-handle-topright,
.dv-debug .dv-resize-container .dv-resize-handle-bottomleft,
.dv-debug .dv-resize-container .dv-resize-handle-bottomright {
  background-color: cyan;
}

.dv-resize-container {
  position: absolute;
  z-index: 997;
  border: 1px solid var(--dv-tab-divider-color);
  box-shadow: var(--dv-floating-box-shadow);
}
.dv-resize-container.dv-resize-container-dragging {
  opacity: 0.5;
}
.dv-resize-container .dv-resize-handle-top {
  height: 4px;
  width: calc(100% - 8px);
  left: 4px;
  top: -2px;
  z-index: 999;
  position: absolute;
  cursor: ns-resize;
}
.dv-resize-container .dv-resize-handle-bottom {
  height: 4px;
  width: calc(100% - 8px);
  left: 4px;
  bottom: -2px;
  z-index: 999;
  position: absolute;
  cursor: ns-resize;
}
.dv-resize-container .dv-resize-handle-left {
  height: calc(100% - 8px);
  width: 4px;
  left: -2px;
  top: 4px;
  z-index: 999;
  position: absolute;
  cursor: ew-resize;
}
.dv-resize-container .dv-resize-handle-right {
  height: calc(100% - 8px);
  width: 4px;
  right: -2px;
  top: 4px;
  z-index: 999;
  position: absolute;
  cursor: ew-resize;
}
.dv-resize-container .dv-resize-handle-topleft {
  height: 4px;
  width: 4px;
  top: -2px;
  left: -2px;
  z-index: 999;
  position: absolute;
  cursor: nw-resize;
}
.dv-resize-container .dv-resize-handle-topright {
  height: 4px;
  width: 4px;
  right: -2px;
  top: -2px;
  z-index: 999;
  position: absolute;
  cursor: ne-resize;
}
.dv-resize-container .dv-resize-handle-bottomleft {
  height: 4px;
  width: 4px;
  left: -2px;
  bottom: -2px;
  z-index: 999;
  position: absolute;
  cursor: sw-resize;
}
.dv-resize-container .dv-resize-handle-bottomright {
  height: 4px;
  width: 4px;
  right: -2px;
  bottom: -2px;
  z-index: 999;
  position: absolute;
  cursor: se-resize;
}
.dv-render-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
}
.dv-render-overlay.dv-render-overlay-float {
  z-index: 998;
}
.dv-debug .dv-render-overlay {
  outline: 1px solid red;
  outline-offset: -1;
}
.pane-container {
  height: 100%;
  width: 100%;
}
.pane-container.animated .view {
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.pane-container .view {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}
.pane-container .view:not(:first-child)::before {
  background-color: transparent !important;
}
.pane-container .view:not(:first-child) .pane > .pane-header {
  border-top: 1px solid var(--dv-paneview-header-border-color);
}
.pane-container .view .default-header {
  background-color: var(--dv-group-view-background-color);
  color: var(--dv-activegroup-visiblepanel-tab-color);
  display: flex;
  padding: 0px 8px;
  cursor: pointer;
}
.pane-container .view .default-header .dockview-pane-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pane-container .view .default-header > span {
  padding-left: 8px;
  flex-grow: 1;
}
.pane-container:first-of-type > .pane > .pane-header {
  border-top: none !important;
}
.pane-container .pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.pane-container .pane .pane-header {
  box-sizing: border-box;
  user-select: none;
  position: relative;
  outline: none;
}
.pane-container .pane .pane-header.pane-draggable {
  cursor: pointer;
}
.pane-container .pane .pane-header:focus:before,
.pane-container .pane .pane-header:focus-within:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  pointer-events: none;
  outline: 1px solid;
  outline-width: -1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: var(--dv-paneview-active-outline-color);
}
.pane-container .pane .pane-body {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  position: relative;
  outline: none;
}
.pane-container .pane .pane-body:focus:before,
.pane-container .pane .pane-body:focus-within:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  pointer-events: none;
  outline: 1px solid;
  outline-width: -1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: var(--dv-paneview-active-outline-color);
}
.dv-debug .split-view-container .sash-container .sash.enabled {
  background-color: black;
}
.dv-debug .split-view-container .sash-container .sash.disabled {
  background-color: orange;
}
.dv-debug .split-view-container .sash-container .sash.maximum {
  background-color: green;
}
.dv-debug .split-view-container .sash-container .sash.minimum {
  background-color: red;
}

.split-view-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.split-view-container.dv-splitview-disabled > .sash-container > .sash {
  pointer-events: none;
}
.split-view-container.animation .view,
.split-view-container.animation .sash {
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.split-view-container.horizontal {
  height: 100%;
}
.split-view-container.horizontal > .sash-container > .sash {
  height: 100%;
  width: 4px;
}
.split-view-container.horizontal > .sash-container > .sash.enabled {
  cursor: ew-resize;
}
.split-view-container.horizontal > .sash-container > .sash.disabled {
  cursor: default;
}
.split-view-container.horizontal > .sash-container > .sash.maximum {
  cursor: w-resize;
}
.split-view-container.horizontal > .sash-container > .sash.minimum {
  cursor: e-resize;
}
.split-view-container.horizontal > .view-container > .view:not(:first-child)::before {
  height: 100%;
  width: 1px;
}
.split-view-container.vertical {
  width: 100%;
}
.split-view-container.vertical > .sash-container > .sash {
  width: 100%;
  height: 4px;
}
.split-view-container.vertical > .sash-container > .sash.enabled {
  cursor: ns-resize;
}
.split-view-container.vertical > .sash-container > .sash.disabled {
  cursor: default;
}
.split-view-container.vertical > .sash-container > .sash.maximum {
  cursor: n-resize;
}
.split-view-container.vertical > .sash-container > .sash.minimum {
  cursor: s-resize;
}
.split-view-container.vertical > .view-container > .view {
  width: 100%;
}
.split-view-container.vertical > .view-container > .view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}
.split-view-container .sash-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.split-view-container .sash-container .sash {
  position: absolute;
  z-index: 99;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}
.split-view-container .sash-container .sash:not(.disabled):active {
  transition: background-color 0.1s ease-in-out;
  background-color: var(--dv-active-sash-color, transparent);
}
.split-view-container .sash-container .sash:not(.disabled):hover {
  background-color: var(--dv-active-sash-color, transparent);
  transition: background-color 0.1s ease-in-out;
  transition-delay: 0.5s;
}
.split-view-container .view-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--dv-background-color);
}
.split-view-container .view-container .view {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: absolute;
}
.split-view-container.separator-border .view:not(:first-child)::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  background-color: var(--dv-separator-border);
}
.dv-dragged {
  transform: translate3d(
    0px,
    0px,
    0px
  ); /* forces tab to be drawn on a separate layer (see https://github.com/microsoft/vscode/issues/18733) */
}

.tab {
  flex-shrink: 0;
}
.tab:focus-within,
.tab:focus {
  position: relative;
}
.tab:focus-within::after,
.tab:focus::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  outline: 1px solid var(--dv-tab-divider-color) !important;
  outline-offset: -1px;
  z-index: 5;
}
.tab.dv-tab-dragging .dv-default-tab-action {
  background-color: var(--dv-activegroup-visiblepanel-tab-color);
}
.tab.active-tab .dv-default-tab .dv-default-tab-action {
  visibility: visible;
}
.tab.inactive-tab .dv-default-tab .dv-default-tab-action {
  visibility: hidden;
}
.tab.inactive-tab .dv-default-tab:hover .dv-default-tab-action {
  visibility: visible;
}
.tab .dv-default-tab {
  position: relative;
  height: 100%;
  display: flex;
  min-width: 80px;
  align-items: center;
  padding: 0px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab .dv-default-tab .dv-default-tab-content {
  padding: 0px 8px;
  flex-grow: 1;
}
.tab .dv-default-tab .dv-default-tab-action {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.tab .dv-default-tab .dv-default-tab-action:hover {
  border-radius: 2px;
  background-color: var(--dv-icon-hover-background-color);
}
.tabs-and-actions-container {
  display: flex;
  background-color: var(--dv-tabs-and-actions-container-background-color);
  flex-shrink: 0;
  box-sizing: border-box;
  height: var(--dv-tabs-and-actions-container-height);
  font-size: var(--dv-tabs-and-actions-container-font-size);
}
.tabs-and-actions-container.hidden {
  display: none;
}
.tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .tabs-container {
  flex-grow: 1;
}
.tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .tabs-container .tab {
  flex-grow: 1;
}
.tabs-and-actions-container.dv-single-tab.dv-full-width-single-tab .void-container {
  flex-grow: 0;
}
.tabs-and-actions-container .void-container {
  display: flex;
  flex-grow: 1;
  cursor: grab;
}
.tabs-and-actions-container .tabs-container {
  display: flex;
  overflow-x: overlay;
  overflow-y: hidden;
  scrollbar-width: thin;
  /* Track */
  /* Handle */
}
.tabs-and-actions-container .tabs-container::-webkit-scrollbar {
  height: 3px;
}
.tabs-and-actions-container .tabs-container::-webkit-scrollbar-track {
  background: transparent;
}
.tabs-and-actions-container .tabs-container::-webkit-scrollbar-thumb {
  background: var(--dv-tabs-container-scrollbar-color);
}
.tabs-and-actions-container .tabs-container .tab {
  -webkit-user-drag: element;
  outline: none;
  min-width: 75px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.tabs-and-actions-container .tabs-container .tab:not(:first-child)::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  background-color: var(--dv-tab-divider-color);
  width: 1px;
  height: 100%;
}
.watermark {
  display: flex;
  width: 100%;
}
.watermark.has-actions .watermark-title .actions-container {
  display: none;
}
.watermark .watermark-title {
  height: 35px;
  width: 100%;
  display: flex;
}
.watermark .watermark-content {
  flex-grow: 1;
}
.watermark .actions-container {
  display: flex;
  align-items: center;
  padding: 0px 8px;
}
.watermark .actions-container .close-action {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--dv-activegroup-hiddenpanel-tab-color);
}
.watermark .actions-container .close-action:hover {
  border-radius: 2px;
  background-color: var(--dv-icon-hover-background-color);
}
