:root {
  --moss-color-primary: rgba(255, 255, 255, 1);
  --moss-color-sideBar-background: rgba(39, 39, 42, 1);
  --moss-color-toolBar-background: rgba(30, 32, 33, 1);
  --moss-color-page-background: rgba(22, 24, 25, 1);
  --moss-color-statusBar-background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(224, 0, 41, 1) 16%,
    rgba(190, 0, 87, 1) 34%,
    rgba(155, 0, 133, 1) 51%,
    rgba(128, 0, 169, 1) 68%,
    rgba(97, 0, 209, 1) 84%,
    rgba(63, 0, 255, 1) 100%
  );
  --color-windows-close-button-background: rgba(196, 43, 28, 1);
  --color-window-controls-linux-background: rgba(55, 55, 55, 1);
  --color-window-controls-linux-text: rgba(255, 255, 255, 1);
  --color-window-controls-linux-hover-background: rgba(66, 66, 66, 1);
  --color-window-controls-linux-active-background: rgba(86, 86, 86, 1);
}
