:root {
  --color-primary: rgba(0, 0, 0, 1);
  --color-sidebar-background: rgba(234, 157, 242, 1);
  --color-toolbar-background: rgba(222, 125, 232, 1);
  --color-page-background: rgba(227, 54, 245, 1);
  --color-statusbar-background: rgba(63, 11, 69, 1);
  --color-windows-close-button-background: rgba(196, 43, 28, 1);
  --color-window-controls-linux-background: rgba(218, 218, 218, 1);
  --color-window-controls-linux-text: rgba(61, 61, 61, 1);
  --color-window-controls-linux-hover-background: rgba(209, 209, 209, 1);
  --color-window-controls-linux-active-background: rgba(191, 191, 191, 1);
}
